recursive-include riscof/suite *.S *.h

recursive-include riscof/Templates *.html *.css *.ld *.ini *.h

recursive-include riscof/framework *.yaml

recursive-exclude riscof/suite/wip *.S

recursive-exclude riscof/__pycache__ *.pyc

include LICENSE
