recursive-include riscof/suite *.S *.h

recursive-include riscof/coverage *

recursive-include riscof/Templates *

recursive-include riscof/framework *.yaml

recursive-exclude riscof/suite/wip *.S

recursive-exclude riscof/__pycache__ *.pyc

include LICENSE
include README.rst
include riscof/requirements.txt
